<h1>Leaderboard</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Number of Wins</th>
  </tr>
  <tr>
    <td>WOPR</td>
    <td>99999</td>
  <tr>
    <td>Hal</td>
    <td>14590</td>
  </tr>
  <tr>
    <td>Tennis_Shoes</td>
    <td>1333</td>
  </tr>
  <tr>
    <td>HER</td>
    <td>898</td>
  </tr>
  <tr>
    <td>Devil666</td>
    <td>666</td>
  </tr>
</table>
