<h1>Leaderboard</h1>

<table>
  <tr>
   <th>Username</th>
   <th>Wins</th>
   </tr>
   <% @leaderboard.each do |k, v| %>
      <% if k > 0 %>
      <tr> 
        <td><%= k %></td>
        <td><%= v %></td>
      </tr>
      <% end %>
   <% end %>
</table>
