<h1>User Information</h1>
<div><p>First Name: </p><%= @user.first_name %></div><br>
<div><p>Last Name: </p><%= @user.last_name %></div><br>
<div><p>Username: </p><%= @user.username %></div><br>
<div><p>E-mail: </p><%= @user.email %></div><br>